.page {
  /* сглаживание текста */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* шасштаб текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  /* читаемость */
  text-rendering: optimizeLegibility;

  font-family: "Inter", Helvetica, sans-serif;
  color: #ffffff;
}
