.place__paragraph {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.63;
	margin: 26px 0 0;
}

.place__paragraph:first-of-type {
	margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
		margin-top: 25px;
  }
}

@media screen and (max-width: 700px) {
	.place__paragraph {
		margin-left: calc((100% - 90%)/2);
		max-width: 89%;
	}
}
