.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  margin: 92px 0 0;
}

@media screen and (max-width: 768px) {
  .intro__title {
    margin: 88px 0 0;
  }
}

@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 426px) {
  .intro__title {
    margin: 64px 0 0;
    max-width: 222px;
  }
}
